/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  background-color: #f6f3eb;
  color: #1f2d16;
}

/* HERO */
.hero {
  height: 115vh;
  background: url("https://i.ytimg.com/vi/_HQgR8i_A10/maxresdefault.jpg") center/cover no-repeat;
  position: relative;
  color: black;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/* HERO CONTENT */
.hero-content {
  position: relative;
  z-index: 1;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 64px;
  letter-spacing: 4px;
}

.hero-content p {
  margin: 10px 0 30px;
  font-style: italic;
}

.btn-primary {
  padding: 14px 32px;
  background: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}

/* ABOUT */
.about {
  padding: 40px 60px;
  text-align: center;
  background: #C9980B
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white
}

.about-text {
  max-width: 700px;
  margin: 0 auto 50px;
  color: white
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card h3 {
  padding: 20px;
}

/* FEATURES */
.features {
  background: #2f4f1f;
  color: white;
  padding: 80px 60px;
  text-align: center;
}

.features h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.feature {
  border: 1px solid rgba(255,255,255,0.3);
  padding: 30px;
  border-radius: 20px;
  font-size: 14px;
}

/* NEWS */
.news {
  color: white;
  padding: 80px 60px;
  text-align: center;
  background: #023E7D
}

.news-text {
  color: white;
  margin-bottom: 40px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  border: 1px solid rgba(255,255,255,0.3);
  padding: 30px;
  border-radius: 20px;
  font-size: 16px;
}

.news-card {
  border-radius: 20px;
  padding: 30px;
  text-align: left;
}

.news-card span {
  font-size: 13px;
  opacity: 0.7;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 30px;
  background: #1f2d16;
  color: white;
font-size: 14px;
}
